<div class="card">
    <img src="assets/img/categories/libro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Intereses</h5>
      <p class="card-text">Busqueda de Intereses.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/pages-liked/intersect" target="_blank" class="card-link d-block w-100 h-100"><i class="far fa-file"></i> Páginas</a></li>
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/places-liked/intersect" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-location-arrow"></i> Sitios</a></li>
    </ul>
  
  </div>