<div class="card">
    <img src="assets/img/categories/people.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gente</h5>
      <p class="card-text">Busqueda de gente.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/relatives/intersect" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-people-carry"></i> Familia</a></li>
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/friends/intersect" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-user-friends"></i> Amigos</a></li>
    </ul>
  
  </div>