<div class="card">
  <img src="assets/img/categories/profile.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Perfil</h5>
    <p class="card-text">Busquedas sobre el perfil.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a  href="https://www.facebook.com/search/{{ id }}/photos-by" target="_blank" role="button" class="card-link d-block w-100 h-100 text-primary pointer"><i class="fas fa-camera"></i> Fotos</a></li>
    <li class="list-group-item"><a  href="https://www.facebook.com/search/{{ id }}/videos-by" target="_blank" role="button" class="card-link d-block w-100 h-100 text-primary pointer"><i class="fas fa-video"></i> Videos</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/stories-by" target="_blank" class="card-link d-block w-100 h-100"><i class="fab fa-stack-exchange"></i> Posts</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/groups/intersect" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-users"></i> Grupos</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/events-joined/" target="_blank" class="card-link d-block w-100 h-100"><i class="far fa-calendar-times"></i> Eventos pasados</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/events-joined/in-past/date/events/intersect/" target="_blank" class="card-link d-block w-100 h-100"><i class="far fa-calendar-check"></i> Eventos futuros</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/apps-used/game/apps/intersect" class="card-link d-block w-100 h-100"><i class="fas fa-chess"></i> Juegos</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/apps-used/" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-shapes"></i> Apps</a></li>
  </ul>

</div>


