<div class="card">
    <img src="assets/img/categories/likes.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Me gusta</h5>
      <p class="card-text">Busqueda de me gustas.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/photos-liked" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-camera"></i> Fotos</a></li>
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/videos-liked" target="_blank" class="card-link d-block w-100 h-100"><i class="fas fa-video"></i> Videos</a></li>
      <li class="list-group-item"><a href="https://www.facebook.com/search/{{ id }}/stories-liked" target="_blank" class="card-link d-block w-100 h-100"><i class="fab fa-stack-exchange"></i> Posts</a></li>
    </ul>
  
  </div>