<div class="row mt-5 bg-dark text-light py-5">
  <div class="col-10 offset-1">
    <p>Renuncia de responsabilidad.</p>
    <p>Este sitio no guarda su información personal.</p>
    <p>Este sitio no comete ninguna ilegalidad, los enlaces que contiene te llevan diréctamente a la página oficial de facebook para comprobar los resultados</p>
    <p>Este sitio no tiene ninguna relacion con Facebook.</p>
    <p>Todos los resultados son de caracter público y dependen en gran medida de que su informacion este restringida a "solo amigos".</p>
    <p>La herramienta está constituida con fines educativos e informacionales, el sitio no se hace responsable del uso que se le pueda dar a esta herramienta.</p>
  </div>
</div>